@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

$family-sans-serif: 'Noto Sans JP','Roboto', sans-serif;

$body-background-color: #fffafa;
$body-color: #000;

$pre-background: #272822;;
$pre: #f2f2f2;

$code-background: #303030;
$code: #f2f2f2;

@import 'bulma-0.9.0/utilities/_all';
@import 'bulma-0.9.0/base/_all';
@import 'bulma-0.9.0/layout/_all';
@import 'bulma-0.9.0/elements/_all';
@import 'bulma-0.9.0/components/breadcrumb';
@import 'bulma-0.9.0/grid/columns';

pre {
  border-radius: 5px;
}

.breadcrumb {
  margin-top: 15px;
  @include mobile {
    margin-left: 20px;
  }
}
